<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options Indexes
DirectoryIndex index.html       
Redirect permanent /schema/constraints/jarb-constraints.xsd https://raw.github.com/42BV/jarb/master/jarb-constraints/src/main/resources/org/jarbframework/constraint/jarb-constraints.xsd
order deny,allow